###############################################################################
# Build Artifacts
###############################################################################
artifacts/
*.binlog

.DS_Store

###############################################################################
# Default Artifacts
###############################################################################
bin/
obj/

###############################################################################
# Test Artifacts
###############################################################################
TestResult.xml

###############################################################################
# Visual Studio
###############################################################################
.vs/

###############################################################################
# Rider
###############################################################################
.idea/

interactive/Voltium.CubeGame/Assets/Textures/